h1 {
  font-family: "Brush Script MT";
  font-style: italic;
  font-weight: 400;
  font-size: 2.625em;
  color: #081c15;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 3.875em;
  left: 0em;
  top: 0em;
  align-items: center;
  background: rgba(153, 221, 204);
}
.home{
  margin-top: 20px;
  margin-left: 0%;
  margin-right: auto;
}
.nav-links {
  margin-right: 2em;
  font-family: "Brush Script MT";
  font-style: italic;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 1.625em;
  color: #081c15;
}
.navheading {
  padding-right: 6em;
  left: 0em;
  font-family: "Brush Script MT";
  font-style: italic;
  font-weight: 400;
  font-size: 2.625em;
  color: #081c15;
}

.img {
  padding-left: 2em;
  padding-right: 2em;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.title {
  display: flex;
  align-items: center;
}
.homebody {
  position: fixed;
  background-color: rgba(202, 240, 248, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}
.homeimage {
  display: block;
  margin-top: 5%;
  margin-left: 2.4%;
 
  width: 40%;
}
.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carousel-container-1{
  /* margin-left: 5%; */
  margin-top: 5%;
}

.features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px; /* Add margin to the top */
  
}

.button {
  margin-left: 4.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e44e73;
  color: #ffffff;
  cursor: pointer;
}
.button.expanded {

  height: auto;
 align-self: flex-start;
 margin-left: 4.5%;
}
.text-content {
  margin-top: 10px;
  margin-left: 50px;
}
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-dots .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-dots .dot.active {
  background-color: #e44e73;
}
.button:hover {
  background-color: #d14366;
}

.button svg {
  margin-left: 5px;
}

.expanded-content {
  
  display: flex;
  align-items: flex-start;
}
.carousel-arrow {
  background-color: transparent;
  border: none;
  color: #e44e73;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.carousel-arrow:hover {
  color: #ff6384;
}

.carousel {
  position: relative;
}

.prev-arrow {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  bottom: -40px;
}

.next-arrow {
  position: absolute;
right: 30%;
  transform: translateX(-50%);
  bottom: -40px;
}

.text-content {
  width: 50%;
  padding: 20px;
}

.carousel-container {
  
  margin-top: 10px;
}

.whatwedo h1 {
  text-align: center;
}
.whatwedo p {
  font-family: "Brush Script MT";
  font-style: italic;
  font-size: 1.225em;
  color: #081c15;
}
.featureimg img {
  width: 40em;

}

.featureimg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.bottom {
  width: 95%;
  height: 945px;
  margin: auto;
  background: linear-gradient(180deg, #ffe8e8 0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 60px;
}
.bottom p {
  text-align: center;
  font-family: "Brush Script MT";
  font-style: italic;
  font-size: 2.225em;
  color: #081c15;
}
.registerbtn {
  margin: auto;
  width: 317px;
  height: 82px;
  text-align: center;
  background: #ff6d00;
  border-radius: 50px;
}
.registerbtn h1 {
  /* vertical-align: middle; */
  line-height: 82px;
}
.review{
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-item {
  height: 400px;
  width: 300px; /* Adjust the height as needed */
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 35px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

.review-name {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.review-comment {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

/* Add gap between reviews */


.body-web {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: #f0e3d6;
}
.bodyicon {
  width: 35px;
  /* margin: 10px; */
  padding: 10px;
  padding-top: 0;
}
.icons {
  display: flex;
  justify-content: flex-start;
}
.userprofile {
  height: 50px;
  width: 50px;
  background-color: #bdafaf;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5em;
}
.navbody {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bodyheading {
  margin-left: auto;
  /* margin-right: 38%; */
  margin-right: auto;
  font-size: 22px;
}
.titlearea {
  resize: none;
  width: 70%;
  height: 50px;
}
.contentarea {
  width: 70%;
  resize: none;
  margin-right: 20px;
  height: 400px;
}
.firstarea {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.secondarea {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}
.btn {
  margin-top: 10px;
  margin-left: 50%;
}
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.attachicon {
  margin-top: 10px;
  width: 40px;
  margin-left: 25%;
}
.hometitle {
  margin-left: 55%;
  margin-right: 50%;
}
.widget {
  width: 250px;
  height: 220px;
  background-color: rgb(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 25%;
}
.widget:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.row2 {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.two {
  margin-right: 150px;
  margin-left: 180px;
  margin-bottom: 50px;
}
.homeimg {
  margin-top: 20px;
  width: 120px;
}
.loginhomebody {
  overflow-y: scroll;
}
.homepagesectiontwo h1 {
  text-align: center;
}
.ideasection {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.ideasectionimg {
  position: absolute;
  margin-left: 30px;
  background: #d9d9d9;
  width: 450px;
  height: 250px;
  background: #d9d9d9;
  border-radius: 70px;
}
.ideasection p {
  position: relative;
  margin-left: 500px;
  margin-right: 30px;
  text-align: justify;
  font-size: 1.3em;
}
.alte p {
  margin-left: 30px;
  margin-right: 500px;
}
.altei {
  margin-right: 30px;
  margin-left: 69%;
}
.homepagesectiontwo h4 {
  text-align: center;
  font-size: 1.2em;
}
.login-body{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}
.loginbox{
width: 40em;
height: 35em;
background: rgba(255, 255, 255, 0.59);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);

}
.form{
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
}



.rectangle{

background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 300px;
height: 280px;

}
.rectangle:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.o{
display: flex;

justify-content: space-around;
flex-direction: row;
}
.s{
  display: flex;
  justify-items: center;
}
.carousel-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.card-container {
  display: flex;
  width: 100%;

  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(calc(-100% * var(--slide-offset) / var(--total-slides)));
}

.slide {
  flex: 0 0 calc((100% - 90px) / var(--visible-cards));
  opacity: 1;
  padding: 0 15px;
  margin: 0 0px;
  

}


.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 2;
}


.left {
  left: 0px;
}

.right {
  right: 0px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 400px; Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-price {
  font-size: 16px;
  color: #888;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.success{
  margin: 10px;
  display: flex;
  width: 28.125em;
  height: 38.9375em;
  border-radius: 50px;
  background-color: #777;
}
.successblock{
display: flex;


align-items:center ;
 padding: 1.25px;
  margin-bottom: 5em;
justify-content: space-between;
}
.widget:visited{

    text-decoration: none;
    decoration:none;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  display: flex;
  flex-direction: row;
}
.image-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1em;
}

.image-container img {
  width: 500px;

  height: 300px;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.thumbnail {
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.thumbnail:hover {
  opacity: 1;
}

.thumbnail.active {
  border: 2px solid blue;
}

.arrow-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.arrow-button-one {
  font-size: 2em;
  padding: 0.25em 0.5em;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button-one:hover {
  color: blue;
}
.review {
  display: flex;
  margin-bottom: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.show-more-btn {
  display: block;
  margin: 20px auto;
}
.reviews-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow: auto;
}
.input-number-days {
  width: 30px;
  height: 30px;
}
.cart-container {
  display: flex;
}

.products-container {
  flex: 1;
  padding-right: 20px;
}

.cart-container {
  display: flex;
}

.products-container {
  flex: 1;
  padding-right: 20px;
  overflow-y: auto; /* Add scrollbar only if necessary */
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.product-image img {
  width: 125px;
  height: 125px;
  object-fit: cover;
}

.product-details {
  margin-left: 20px;
  flex: 1; /* Expand to fill available space */
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  gap: 40px;  /* Increase the margin-bottom value */
}

.product-info > div {
  margin-right: 20px; /* Increase the margin-right value */
  flex: 0 0 auto;
}


.edit-button,
.save-button,
.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #888;
  margin-left: 5px;
}

.edit-button:hover,
.save-button:hover,
.remove-button:hover {
  color: #000;
}
.order-summary{
  background-color: #f2f2f2;
  margin-right: 20px;
}
.order-summary-table {
 
  margin-right: 20px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-summary-table th,
.order-summary-table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.order-summary-table th {
  font-weight: bold;
}

.order-summary .total-price {
  text-align: center;
  margin-bottom: 20px;
}

.order-summary .checkout-button {
  width: 30%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2%;
}

/* .product-summary {
  margin-bottom: 10px;
}

.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-details label {
  font-weight: bold;
} */

.total-price {
  margin-top: 20px;
}

.total-price h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

/* .checkout-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
} */

.checkout-button:hover {
  background-color: #555;
}
.about-us {
  background-color: #f5f5f5;
  padding: 50px;
}

.about-us {
  background-color: #f5f5f5;
  padding: 50px;
}
.about-us{
  margin-top: 2%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.section-description {
  margin-bottom: 30px;
  color: #333;
}

.description-image {
  float: right;
  margin-left: 20px;
  margin-bottom: 15px;
  max-width: 300px;
  border-radius: 5px;
}

.team-title {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.team-member {
  width: 250px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.team-member-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member-name {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.team-member-position {
  font-size: 14px;
  color: #777;
}
